.button,
.button::after {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: 600;
  padding: 1em 1.5em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.button::before,
.button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.button:hover {
  color: var(--color-blue);
}

.button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.button:hover:after {
  width: 100%;
}
